#!/usr/bin/env zsh

# Unsafe load
source ~/.rcutils

# Safe aliasing
conditional_alias neofetch "neofetch --package_managers on --cpu_temp F --refresh_rate on --memory_percent on"

# Regular aliasing
alias ls="ls --color=auto"
alias l="clear;ls -lh"
alias la="clear;ls -lah"

alias dmod="chmod -R 700"
alias reload="exec $SHELL"

alias mount-external="sudo mount -o uid=ivo -o gid=ivo /dev/sda1 ~/external_drive"
alias unmount-external="sudo umount ~/external_drive"
